.nodeHeader {
    background-color: #6366f1;
    color: white;
    display: flex;
}

.nodeHeaderTitle{
    padding: 5px
}

.nodeHeaderIcon{
    padding: 5px
}

.nodeDiv {
    border: 1px solid #f8f8f8;
    margin: 5px;
    padding: 5px;
}

.nodeBody{
    width: 200px;
    border: 1px solid #6366f1;
    box-shadow: 0 2px 2px 2px #f1f1f1;

}